<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Art decoder/encoder</title>
</head>
<body class="bg-gray-900 items-center justify-center p-8">
    <dialog {{ if eq .OutputStatus 400 }}open{{ end }}
            class="top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-800 text-white rounded-xl p-6 m-0">
        <p class="text-red-400">Invalid input</p>
        <button onclick="this.closest('dialog').close()"
            class="mt-4 bg-red-600 text-white rounded-lg px-4 py-2">
            Close
        </button>
    </dialog>
    <div class="bg-gray-800 rounded-xl p-6 w-full gap-4">
        <h1 class="text-xl font-bold text-indigo-400 text-center px-4 py-2">ART Encoder / Decoder</h1>
        <h4 class="text-white italic px-2 py-3">The easiest way to encode and decode text-based art strings. Paste your input, choose an action, and get your result instantly</h4>
        <form action="/art" method="POST" class="flex flex-col gap-3">
            <textarea
                name="input"
                placeholder="Enter a decoded/encoded string"
                class="bg-gray-700 text-white rounded-lg px-6 py-6 font-mono"
                style="field-sizing: content; min-height:100px;"
                required
            >{{ .Input }}</textarea>
            <div class="flex gap-2 py-1"> 
                <button
                    type="submit" name="action" value="decode"
                    class="bg-blue-600 hover:bg-blue-800 text-white rounded-lg py-2 px-3"
                >
                    Decode
                </button>
                <button
                    type="submit" name="action" value="encode"
                    class="bg-violet-600 hover:bg-violet-800 text-white rounded-lg py-2 px-3" 
                >
                    Encode
                </button>
            </div>
        </form>
        <form class="flex flex-col py-4">
            <div 
                class="bg-gray-700 text-white rounded-lg px-6 py-11 overflow-auto"
            >
            <pre class="font-mono text-grey-400">{{ .Output }}</pre>
            </div>
            {{if .OutputStatus}}
            <p class="text-white">Status: <span class="{{if eq .OutputStatus 400}} text-red-400 {{else}}text-green-400{{end}}">{{ .OutputStatus}}</span></p>
            {{end}}
        </form>

    </div>
</body>
</html>